.ratings {
    display: grid;
    grid-template-columns: repeat(8, minmax(max-content, 1fr));
    grid-gap: 1rem;

    align-items: center;
}

.ratings .arrow.left {
    grid-column: 3 / span 2;
}

.ratings .arrow.right {
    grid-column: span 2 / -2;
}

