.toggle {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--red-highlight);
    position: relative;
    font-size: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    font-size: 2rem;
}

.overlay {
    border-radius: 0.5rem;
    background-color: var(--red-highlight);
    position: absolute;
    transition: all 0.25s ease-in-out;
    width: 47%;
    top: 0.5rem;
    bottom: 0.5rem;
}

.overlay.on {
    left: 0.5rem;
}

.overlay.off {
    left: calc(53% - 0.5rem)
}

.toggle button {
    cursor: pointer;
    font-size: inherit;
    outline: none;
    z-index: 2;
    border-radius: 0.75rem;
    border: none;
    background: transparent;
    color: var(--color-white-soft);
    padding: 0.5rem;
    
    transition: color 0.5s ease-in-out;
}

.toggle button.text-white {
    color: var(--color-white);
    text-shadow: 0px 2px 20px var(--red-shadow);
}